body {
  margin: 0px;
  text-align: center;
  color:#545454 ;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #45b29a;
  font-weight: normal;
  line-height: 0.5;
}

h2 {
  margin-top: 0;
  font-size: 180%;
  color: #45b29a;
  font-weight: normal;
  font-style: normal;
padding-top:1em;
padding-bottom: 0;
  /* font-family: 'Oswald', sans-serif; */
}

h3 {
  color: #11999E;
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
}

.top-container {
  background-color:#B0C4DE;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

a {
  color: #111999E;
  font-family: 'Oswald', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.mountain {
  vertical-align: middle;
  }

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

p {
  line-height: 2;
}

.computer {
  width: 25%;
  float: left;
  margin-right: 10%;
}

.chai-tea {
  width: 25%;
  float: right;
  margin-left: 5%;
}

.profile {
  margin: 10px auto 10px auto;
}

hr {
  border: dotted #EAF6F6 10px;
  border-top: none;
  width: 4%;
  margin: 100px auto;
}

.footer-link {
  color: #11999E;
  display: inline-table;
}

.c {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding:20px 0;
}

.btn {
  font-size: 1rem;
  background-color: #11999E;
}

.intro {
  width: 20%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px auto;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{
  background: #49b3f5;
  background-image: -webkit-linear-gradient(top, #49b3f5, #3498db);
  background-image: -moz-linear-gradient(top, #49b3f5, #3498db);
  background-image: -ms-linear-gradient(top, #49b3f5, #3498db);
  background-image: -o-linear-gradient(top, #49b3f5, #3498db);
  background-image: linear-gradient(to bottom, #49b3f5, #3498db);
  text-decoration: none;
}
